body {
    background-color: rgb(24, 17, 29);
    color: whitesmoke;
    font-family:"Metal Mania", system-ui;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 8px;
}

li {
    display: inline;
    margin: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 36px;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

h2 {
    font-size: 48px;
    line-height: 8px;
    font-family: "Poppins", sans-serif;
}

span {
    color: rgb(105, 8, 84);
    font-family: "Metal Mania", system-ui;
}